:root {
  font-family: Helvetica, Tahoma, Arial, PingFang SC, Hiragino Sans GB, Heiti SC,
    Microsoft YaHei, WenQuanYi Micro Hei;
}
body {
  padding: 10px;
  color: rgb(18, 170, 61);
  background-color: #efefef;
  max-width: 600px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
.text {
  -webkit-text-stroke: 1px #444;
  color: transparent;
}
.img {
  width: 95%;
}
.img.a {
  width: 100%;
}
.img.d {
  position: absolute;
  top: 0;
  left: 0;
}
.n {
  display: none;
}
.s {
  display: block;
}
.num {
  color: aquamarine;
  font-weight: bolder;
  position: absolute;
  top: 22.6%;
  right: 42%;
  font-size: 0.75rem;
}
.leaf {
  transform-origin: 65% 50%;
  animation: circle 0.4s infinite linear;
  -webkit-animation: circle 0.4s infinite linear;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wind {
  animation: blow 1s infinite ease-in-out;
  -webkit-animation: blow 1s infinite ease-in-out;
}
@keyframes blow {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blow {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.oper {
  position: absolute;
  bottom: 0;
  right: 0;
}
.oper span {
  display: inline-block;
  width: 40px;
  text-align: center;
  border: 1px solid;
  font-size: 25px;
  line-height: 26px;
  height: 28px;
  background: #fff;
  border-radius: 4px;
  transition: color 0.3s;
}
.oper span:active {
  color: #6ec37a;
}

.container-footer {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 30px);
  left: 0;
  text-align: center;
  right: 0;
  color: #333;
}

.container-footer .copyright {
  font-weight: lighter;
  font-size: 10px;
}

.container-footer .links a[data-v-240e8e56]:not(:last-child):after {
  position: relative;
  content: "·";
  left: 3px;
  margin-right: 5px;
}

.container-footer .links[data-v-240e8e56] {
  margin-left: 1ex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-footer .links a[data-v-240e8e56] {
  text-decoration: none;
  color: #b78775;
  font-weight: 400;
}

.rl {
  position: fixed;
  bottom: 60px;
  bottom: calc(constant(safe-area-inset-bottom) + 60px);
  bottom: calc(env(safe-area-inset-bottom) + 60px);
  font-size: 14px;
  color: #444;
  left: 0;
  right: 0;
  text-align: center;
}

.guard {
  height: 16em;
  width: 16em;
}

.frame {
  height: 16em;
  width: 16em;
  position: absolute;
  left: 50%;
  top: 0;
  border: 5px solid #f5f5f5;
  border-radius: 50%;
  margin-left: -8em;
  box-shadow: 0 0 4px #b7b7b7;
  z-index: 10;
}

.cir1,
.cir2,
.cir3 {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 12;
}

.cir1 {
  height: 12em;
  width: 12em;
  left: 50%;
  top: 2em;
  margin-left: -6em;
}

.cir2 {
  height: 8em;
  width: 8em;
  left: 50%;
  top: 4em;
  margin-left: -4em;
}

.cir3 {
  height: 3em;
  width: 3em;
  left: 50%;
  top: 6.5em;
  background: #fff;
  margin-left: -1.5em;
  box-shadow: 0 0 1px #b7b7b7;
}

.blades {
  height: 12em;
  width: 12em;
  position: absolute;
  top: 2em;
  left: 50%;
  z-index: 9;
  animation: blades 1.5s infinite linear;
  margin-left: -6em;
}

.blades li {
  height: 6.5em;
  width: 6.5em;
  position: absolute;
  border-radius: 0 50% 100%;
  box-shadow: 0 0 10px rgb(216 216 216 / 80%);
}

.b1 {
  top: 7em;
  left: 2.75em;
  transform: rotate(45deg);
  background-color: #fff7f7;
}

.b2 {
  top: 0.5em;
  left: -1em;
  transform: rotate(165deg);
  background-color: #ecffec;
}

.b3 {
  top: 0.5em;
  left: 6.5em;
  transform: rotate(285deg);
  background-color: #f4fffd;
}

.base {
  height: 1em;
  width: 12em;
  position: absolute;
  top: 19em;
  left: 50%;
  z-index: 5;
  border-radius: 10px 10px 0 0;
  background: #f5f5f5;
  box-shadow: 0px 1px 3px #b7b7b7;
  margin-left: -6em;
}

.base:after {
  height: 10em;
  width: 0.5em;
  position: absolute;
  top: -10em;
  left: 5.75em;
  z-index: 6;
  content: "";
  display: block;
  background: #f5f5f5;
  box-shadow: 1px -1.5px 4px #b7b7b7;
}

@keyframes blades {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
